[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
djoser = "*"
django-allauth = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.11"
